.dashboard-container {
  display: flex;
  flex-direction: column;
  background: aliceblue;
}

.stat-widgets-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard-content {
  padding: 2rem;
  background-color: #f4f5f7;
  flex-grow: 1;
}

h2 {
  margin:10px;
}

.stats-section,
.charts-section {
  margin-top: 2rem;
}

.charts-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.dashboard-table{  
  margin: 10px;
}